body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-stretch: condensed;
    line-height: 2.9; 
    margin: 0;
   
}

html {
    scroll-behavior: smooth;
}


#izbTraka{
    background-color: #111111;
    color: #ffffff;
    padding: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

#poveznice img{
    width: 13px;
    height: auto;  
}

#logo {
    margin-left: 80px;
    float: left;
    width: 50px;
    margin-right: 50px;
    padding-top: 14px;
}

#logo img {
    max-width: 100%;
    height: auto;
}

#poveznice {
    padding-top: 8px;
}

#poveznice ul li,
 #poveznice ul li a {
    display: inline-block;
}

#poveznice ul li a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}

#izbTrakaDodatak {
    float: right;
    top: 0;
    margin-top: 8px;
    position: fixed;
    margin-left: 950px;
    z-index: 1;
    animation: slideLeft 1s 1s ease;
   
    
} 

#izbTrakaDodatak ul li,
#izbTrakaDodatak ul li a {
    display: inline-block;    
}

#izbTrakaDodatak ul li a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    
}



#slika {
    width:100%; 
    overflow: hidden;
    margin-top: 50px;
    height: 300px;
    animation: slideDown 1s ease;
    z-index: 0;
}



#slika img{
    display:block; 
    width:100%; 
    margin:-17% 0;
    
}


.naslov p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3px;
    
    
}

.naslov #slideUp, hr{
    animation: slideUp 1s ease;
}



.naslov .podnaslov {
    color: #94002f;
    text-align:  center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
    
}

.podnaslov img {
    height: 20px;  
    width: auto;
}

@font-face {
    font-family: myFont;
    src: url(./fonts/Valentina.otf);
  }

.tekst {
    font-family: myFont;
    font-style: italic;
    width: 850px;
    margin: auto;
    font-size: 16px;
    text-align: left;
    word-spacing: 1.75px;
    color: #696969;
    margin-bottom: 90px;
    line-height: 32px;

}



.tekst #tekst1_1 {
     padding-bottom: 35px;
     padding-top: 60px;
     width: 830px;
}

div.clanci,
div.clanci2,
div.clanci3 {
    display: flex;
    justify-content: center;
}

.clanci article,
.clanci2 article {
    width: 345px;
    margin: 3px;
    border: 1px solid lightgray;
    padding: 10px 18px 15px 18px;
    background: white;

}

.clanci article h2,
.clanci2 article h2 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 2px;
    text-transform: uppercase;
    color: #696969;	
    border-bottom: 1px solid #ddccdd;
    margin-top: 0px;
    line-height: 30px; 
}

.clanci2 article h2 {
    text-align: justify;
    padding-bottom: 6px;
    color:cadetblue;
}



.clanci article p,
.clanci2 article p {
    font-size: 15px;
    line-height: 20px;
    color: #696969;	
    text-align: justify;   
}

.clanci3 article {
    width: 270px;
    margin: 3px;
    padding: 10px 15px 50px 15px;
    background: white;
}

.clanci3 article h2 {
    text-align: justify;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #222222;	
    border-bottom: 1px solid #ddccdd;
    margin-top: 0px;
    line-height: 20px; 
    padding-bottom: 6px;
    
}

.clanci3 article p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.tablicaGlavna {
    width: 100%;
    height: auto;
    border-spacing: 19px;
    padding: 20px 15px;
    background-image: url(/img/kakoDoNas.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.tablica1 {
   
    border-collapse: separate;
    border-spacing: 75px 0px;
    width: 450px;
    height: 200px;
    margin-left: 270px;
    margin-top: 15px;
    padding-bottom: 100px;
    background-color: white;
    border: 1px solid #ddccdd;
    
}

.tablica2 {
   
    border-collapse: separate;
    width: 450px; 
    height: 200px;
    margin-top: 20px;
    margin-right: 250px;
    border-spacing: 20px 13px;
    background-color: white;
    border: 1px solid #ddccdd;
   
}

.tablica1 th,
.tablica2 th {
    font-size: 20px;
    text-align: left;
    padding-bottom: 0px;
    font-weight: bolder;
    color: black;
}

.tablica1 th img,
.tablica2 th img {
    height: 15px;
    width: auto;
}

.tablica1 td,
.tablica2 td {
    font-size: 15px;
    line-height: 21px;
    padding: 5px 15px 15px 35px;
    font-weight: bold;
    color: #696969;
    
}

.tablicaGlavna iframe {
    width: 900px;
    height: 400px;
    margin-left: 280px;
    margin-right: auto;
    border: 1px solid #ddccdd;
}

.podnozje {
    width: 100%;
    position: relative;
   
    
}

.podnozje img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    z-index: -1;
    margin-bottom: -16px;
    
}

.tekstPod p {
    font-size: 45px;
    font-stretch: wider;
    color: white;
    overflow: hidden;
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 440px;
    margin-top: -260px;
    text-shadow: -.5px 2px black;
   
    
}

#t2 {
    margin-top: -180px;
    font-weight: 800;
    padding-left: 700px;
    color:firebrick;
}


@keyframes slideLeft{
    0% { transform: translateX(300px); }
    100% { transform: translateX(0px);
           visibility: visible; }
}

@keyframes slideDown {
    0% {transform: translateY(-100px);}
	100% {transform: translateY(0px);}		
}

@keyframes slideUp{
    0% {transform: translateY(50px);}
    100% {transform: translateY(0px);}
}